apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: kind-gateway-tls
  namespace: default
spec:
  # his must match the 'certificateRefs' in your internet-gateway.yaml
  secretName: kind-gateway-tls

  issuerRef:
    name: ca-cluster-issuer
    kind: ClusterIssuer
    group: cert-manager.io

  # Set the wildcard as the primary name
  commonName: "*.localhost"

  # Include both the root and the wildcard in the Subject Alternative Names (SANs)
  dnsNames:
    - "localhost"
    - "*.localhost"
