apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cluster-config
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      # Point to the local folder in Git
      chart: ./infrastructure/charts/cluster-config
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
  dependsOn:
    - name: cilium
      namespace: kube-system
    - name: cert-manager
      namespace: cert-manager
  values:
    gateway:
      name: internet-gateway
      namespace: default
