apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: kind-gateway-tls
  namespace: default
spec:
  secretName: kind-gateway-tls
  issuerRef:
    name: ca-cluster-issuer
    kind: ClusterIssuer
    group: cert-manager.io
  commonName: "*.localhost"
  dnsNames:
    - "localhost"
    - "*.localhost"
